@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
body {
    margin: 0;
}

button {
    border: 0px;
}


/*
* {
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
}*/

*:focus {
    outline: 0 !important;
}

a {
    text-decoration: none !important;
}

.logo img {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.menu {
    background-color: rgb(112, 39, 39);
    width: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.486);
}

.menu .containernav {
    margin: 50px 0 0 0;
    width: 100%;
}

.menu .containernav ul {
    width: 100%;
    padding: 0;
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2vw;
}

.menu .containernav li {
    list-style-type: none;
    padding: 8px 0 8px 0;
    transition: ease 0.3s;
    opacity: 0.5;
    color: white;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.menu .containernav li a {
    color: white;
}

.menu .containernav li:hover {
    background-color: rgb(143, 38, 38);
    opacity: 1;
}

.logout {
    position: absolute;
    bottom: 0;
    left: -20px;
    width: 10%;
    margin-bottom: 15px;
    font-size: 30px;
    text-align: right;
}

.logout a {
    color: white;
    opacity: 0.5;
    transition: ease 0.3s;
}

.logout a:hover {
    opacity: 1;
    color: white;
}

#submenu {
    display: none;
}

#submenuTablo1 {
    display: block;
}

.submenu li {
    background-color: rgb(155, 26, 26);
    font-size: 1vw;
    color: white;
}

.containerD {
    position: absolute;
    width: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url("images/fond.jpg");
    background-size: cover;
}

.titre {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    text-align: left;
    position: relative;
    width: 97%;
}

#tablo1 {
    text-align: left;
    font-size: 40px;
    border: none;
    color: rgba(255, 255, 255, 0.774);
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
}

#tablo1::placeholder {
    opacity: 0.6;
}

.row {
    margin-top: 25px;
    overflow-x: scroll !important;
    overflow-y: hidden !important;
    white-space: nowrap !important;
    flex-wrap: nowrap !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

#row1::-webkit-scrollbar {
    border-radius: 10px;
    background-color: #e2e2e200;
    height: 7px;
}

#row1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.322);
}

#row1::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgba(197, 197, 197, 0.747);
}

#firstcol {
    background-color: rgba(233, 233, 233, 0);
    border: 0;
    border-radius: 10px;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0);
    margin: 10px;
}

.createbutton {
    display: block;
    width: 80px;
    opacity: 0.2;
    transition-duration: 0.4s;
    background-color: rgba(219, 219, 219, 0.089);
    cursor: pointer;
}

.createbutton:hover {
    opacity: 0.5;
    transform: scale(1.1);
}

.createbutton:active {
    transform: translateY(4px);
    transform: scale(1.1);
}

.col-sm {
    max-width: 350px !important;
    min-height: 770px;
}

.cardclass {
    background-color: rgb(255, 255, 255);
    max-width: 300px !important;
    min-width: 300px !important;
    margin-right: 20px !important;
    margin-left: 20px !important;
    margin-bottom: 15px !important;
    min-height: 100px !important;
    max-height: 750px !important;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding: 10px 8px 10px 8px !important;
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.692);
    opacity: 0.7;
    transition: 0.3s;
    overflow-y: auto;
}

.cardclass:hover {
    opacity: 0.9;
}

.cardclass::-webkit-scrollbar {
    display: none;
}

.titrecard {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 5px;
    padding: 0px 3px;
    font-size: 22px;
    width: 70%;
    color: rgb(77, 77, 77);
    margin-bottom: 10px;
}

.titrecard::placeholder {
    color: rgba(22, 22, 22, 0.568);
}

.titrecard:focus {
    outline: none !important;
    border: 2px solid;
    /*border-top-left-radius: 3px;
    border-top-right-radius: 3px;*/
    border-color: #707070;
    background-color: rgb(255, 255, 255);
}

.deletebutton {
    position: absolute;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    top: 0px;
    right: 15px;
    transition: 0.2s;
    font-size: 12px;
    opacity: 0.5;
    z-index: 999;
}

.deletebutton:hover {
    opacity: 0.8;
}

.containerbtnrmv {
    width: 100%;
    text-align: right;
    height: 20px;
}

.removebutton {
    display: inline;
    background-color: rgba(255, 0, 0, 0.521);
    color: rgb(255, 255, 255);
    width: 20px;
    height: 20px;
    font-size: 8px;
    transition: 0.2s;
}

.removebutton:hover {
    background-color: rgba(255, 0, 0, 0.911);
}

.removebutton:active {
    transform: translateY(1px);
}

.todobtn {
    border-radius: 5px;
    background-color: rgb(58, 187, 174);
    font-size: 12px;
    margin-bottom: 10px;
    padding: 2px 12px;
    opacity: 0.5;
    transition: 0.2s;
    text-transform: uppercase;
    color: white;
}

.todobtn:hover {
    opacity: 1;
}

.todobtn:active {
    transform: translateY(1px);
}

.todo {
    background-color: rgb(23, 177, 23);
    min-height: 40px;
    margin-bottom: 12px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.692);
    opacity: 0.9;
    transition: 0.3s;
}

.todo:hover {
    opacity: 1;
}

.titretodo {
    width: 100%;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px 12px;
    width: 90%;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    resize: none;
    overflow: hidden;
}

.titretodo::placeholder {
    color: rgba(226, 226, 226, 0.568);
}

.titretodo::-webkit-scrollbar {
    display: none;
}

.canva {
    width: 100%;
    background-color: rgba(255, 255, 0, 0);
    overflow-y: auto;
    min-height: 20px;
}

.containerbtncolor {
    width: 90%;
    padding-left: 5px;
    padding-bottom: 2px;
}

.btnvert,
.btnjaune,
.btnrouge {
    margin: 0px 0px;
    height: 8px;
    width: 15px;
    border-radius: 0px;
    border: solid 1px black;
}

.btnvert {
    background-color: rgb(23, 177, 23);
}

.btnjaune {
    background-color: rgb(255, 135, 37);
}

.btnrouge {
    background-color: rgb(175, 37, 37);
}

@media screen and (max-width: 1200px) {
    .menu {
        display: none;
    }
    .containerD {
        width: 100%;
    }
}